<!DOCTYPE>
<html>
<title> About Me</title>

<body>
{{>header}}

<p>Hi, I am {{Name}} and I am a software developer. My Employment Id is : {{Emp}} . This is About page</p>

{{>footer}}

</body>


</html>