<!DOCTYPE>
<html>
    <header>
        <p><a href="/home"></a>Back to home Page</p>
    </header>
    <body>
        <p> This is my first Project named : {{Name}}</p>
        <p> {{Purpose}} </p>
    </body>
</html>