<!DOCTYPE>
<html>
    <header>
        <p><a href="/">Back to home Page</a></p>
    </header>
    <body>
        <p> This is my first Project named : {{Name}}</p>
        <p> {{Purpose}} </p>
    </body>
</html>